/* Estilos para la seccion de agenda de turnos */

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 400px;
    color: $colorLetras;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    align-items: center;
    div{
    margin: 5px;
    
}
}
.casillas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    label{
    padding-right: 100px;
}
}
.fotosAgenda{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fotosAgenda img{
    width: 350px;
    padding: 15px;
    border-radius: 25%;
}
.estilo-formulario{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 50px;
    background: #fff;
    color: #808080;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 1000;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #fff;
    color: $colorLetras;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 1000;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.boton span{
    position: relative;
    z-index: 2;
}
.boton::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
    
}

.boton:hover::after{
    transform: scale(400);
    background: #FCD1D1;
}