/* Estilos para el main de diseños */
@import "variables";

.mainDisenos{
    grid-area: listado;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.contenedor{
    display: flex;
    flex-direction: row;
} 

h5{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.frases{
    // color: black;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @extend h5;
    text-align: center;
}
.unas{
    width: 150px;
    height: 250px;
    border-style: solid;
    border-color: $colorLetras;
    border-width: 1px 3px;
    margin: 0px;
    border-radius: 3%;
}
.colores{
    display: flex;
    flex-direction: row;
    
}
.nailArt{
    display: flex;
    flex-direction: row;
}
// .contenedor1{
//     padding: 0;
//     margin: 0;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
// }
// .contenedor1 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor1 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor1 figure .capa1{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor1 figure:hover > .capa1{
//     opacity: 1;
//     visibility: visible;
//     h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor1 figure .capa1 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor2{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor2 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor2 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor2 figure .capa2{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor2 figure:hover > .capa2{
//     opacity: 1;
//     visibility: visible;
//     h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor2 figure .capa2 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor3{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor3 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor3 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor3 figure .capa3{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor3 figure:hover > .capa3{
//     opacity: 1;
//     visibility: visible;
//     h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor3 figure .capa3 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor4{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor4 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor4 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor4 figure .capa4{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor4 figure:hover > .capa4{
//     opacity: 1;
//     visibility: visible;
// h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor4 figure .capa4 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor5{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor5 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor5 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor5 figure .capa5{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor5 figure:hover > .capa5{
//     opacity: 1;
//     visibility: visible;
//     h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor5 figure .capa5 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor6{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor6 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor6 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor6 figure .capa6{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor6 figure:hover > .capa6{
//     opacity: 1;
//     visibility: visible;
//     h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor6 figure .capa6 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor7{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor7 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor7 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor7 figure .capa7{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor7 figure:hover > .capa7{
//     opacity: 1;
//     visibility: visible;
//     h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor7 figure .capa7 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor8{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor8 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor8 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor8 figure .capa8{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor8 figure:hover > .capa8{
//     opacity: 1;
//     visibility: visible;
// h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor8 figure .capa8 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor8 figure:hover > .capa8{
//     opacity: 1;
//     visibility: visible;
// }
// .contenedor8 figure:hover > .capa8 h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }

// .contenedor8 figure .capa8 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor9{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor9 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor9 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor9 figure .capa9{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor9 figure:hover > .capa9{
//     opacity: 1;
//     visibility: visible;
// h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }
// .contenedor9 figure .capa9 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }
// .contenedor10{
//     // padding: 0;
//     // margin: 0;
//     // width: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // height: 100vh;
//     @extend .contenedor1;
// }
// .contenedor10 figure{
//     position: relative;
//     height: 350px;
//     width: 250px;
//     overflow: hidden;
//     border-radius: 6px;
//     box-shadow: 0px 15 px 25px rgba(0,0,0,0.50);
// }

// .contenedor10 figure img{
//     width: 100%;
//     height: 100%;
//     transition:all 500ms ease-out;
// }

// .contenedor10 figure .capa10{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(104,103,123,0.6);
//     transition: all 500ms ease-out;
//     opacity: 0;
//     visibility: hidden;
//     text-align: center;

// }
// .contenedor10 figure:hover > .capa10{
//     opacity: 1;
//     visibility: visible;
//     h5{
//     margin-top: 70px;
//     margin-bottom: 15px;
// }
// }

// .contenedor10 figure .capa10 h5{
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: #fff;
//     text-decoration: solid;
//     font-weight: 400;
//     margin-bottom: 120px;
//     transition: all 500ms ease-out;
//     margin-top: 30px;
// }