@import "disenos";
@import "agenda";
@import "variables";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

$comunes:(
    imgfondo: url(../multimedia/anana.jpg),
    30px: 30px
);

@mixin flexbox ($flex, $direction){
    display: $flex;
    flex-direction: $direction;
}

.body{
    
    background-color: $colorFondo;
    
} 

.header{
    grid-area: header;
    background-image: map-get($map: $comunes , $key: imgfondo);
    // display: flex;
    // flex-direction: column;
    @include flexbox(flex, column)
    align-items: center;
    padding: 30px;
    text-align: center;
    
}
h1{
    color: $colorLetras;
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quedicen{
    color: $colorLetras;
    font-size: map-get($map: $comunes, $key: 30px);
    text-align: center;
}
.navegacion{
    // display: flex;
    // flex-direction: row;
    @include flexbox(flex, row)
    justify-content: center;
    width: 70%;
    padding: 0;
    font-size: 15px;
    color: $colorLetras;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.pisandomenu{
    padding: 0;
}
.container-fluid header nav ul li a {
    color: $colorLetras !important;
}


.navegacion ul{
    list-style-type: none;
    padding: 2px 6px;
    // display: flex;
    // flex-direction: column;
    @include flexbox(flex, column)
    flex-wrap: wrap;
    justify-content: space-around;
    border: $colorLetras;
    background-color: $colorFondo;
    width: 100%;
    li{
    color: $colorLetras;
}
}
.navegacion a{
    
    text-decoration: none;
    color: $colorLetras;
    font-size: 20px;
}
li a:hover{
    font-size: 26px;
    transition: 0.1s;
}

.inicio{
    color: $colorLetras;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu li{
    
    padding: 10px 50px;
    border-style: solid;
    border-width: 1px 3px;
    border-radius: 3px;
    background-color: $colorFondo;

}
.logo{

    width: 250px;
    border-radius: 50%;
    &:hover{
    width: 350px;
    transition: 0.3s;
    cursor: pointer;
}
}
.main{
    grid-area: listado;
}
.clientes{
    // display: flex;
    // flex-direction: row;
    @include flexbox(flex, row)
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}
.clientes div{
    background-image: map-get($map: $comunes, $key: imgfondo );
    color: $colorLetras;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;       
}
.dicen{
    font-style: italic;
}

.casillas{
    width: 500px;
}
@media screen and (max-width: 768px){
    .clientes{
        // display: flex;
        // flex-direction: column;
        @include flexbox(flex, column)
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        div{
        margin: 20px;
    }
}
}


h3{
    color: $colorLetras;
    font-size: map-get($map: $comunes, $key: 30px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
}
.listado{
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $colorLetras;
    text-align: left;
}
th{
    padding: 5px 30px;
}
td{
    padding: 5px 30px;
}
.precios{
    // display: flex;
    // flex-direction: row;
    @include flexbox(flex, row)
    flex-wrap: nowrap;
    justify-content: center;
}

.footer{
    grid-area: footer;
    background-color: black;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // display: flex;
    // flex-direction: row;
    @include flexbox(flex, row)
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-end;
}
.footer section{
    width: 33%;
    text-align: center;
    img{
    width: 50px;
    border-radius: 50px;
}
}
@media screen and (max-width: 500px){
    .casillas{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer section{
        width: 100%;
    }
}
.logoins{
    height: 50px;
    width: 50px;
}
.logotwt{
    height: 50px;
    width: 50px;
}
.logoface{
    height: 50px;
    width: 50px;
}

